.launch {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__date {
    color: #666;
  }

  &__image {
    max-width: 100%;
    height: auto;
  }

  &__details {
    color: #ccc;
  }
}
